<h1><%= t('.editing_comment')%></h1>

<%= render 'form', comment: @comment, commentable: @commentable %>

<%= link_to t('scaffold.show'), [@commentable, @comment] %> |
<%= link_to t('scaffold.back'), [@commentable, :comments] %>
